body
{
    color:blue;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#cabecera
{
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm;
}
#cabecera #tagline{
    font-weight: normal;
}

#container h1
{
    font-size: 20px;
}

#pag #footer
{
    background: gray;
}

#footer{
    background-color: gray;
    color: white;
    text-align: center;
    padding: 1px;
}
